.flex-column-fire {
	display: flex;
    flex-direction: column;
	margin-top: 1rem !important;
}
.marcas {
    margin: 0 !important;
}
.size-2 {
    font-size: 2em;
}

.whatsapp {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 4%;
    right: 1.5%;
    display: block;
    z-index: 99;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: #42c161;
    line-height: 70px;
}
.whatsapp .whatsapp-icon {
    font-size: 35px;
    color: #fff;
    display: inline-block;
    line-height: 1.8;
}
@media (max-width:539px) {
    .e9961-4.x-text .x-text-content-text-primary {
        font-size: 3em;
    }
}